@model IEnumerable<FruitShopMVC.Models.Products>

@{
    ViewData["Title"] = "Recommended Products";
}

<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<h1>Recommend</h1>
					<br />
					
				</div>
			</div>
		</div>
	</div>
</div>

@if (Model != null && Model.Any())
{
    <ul>
        @foreach (var product in Model)
        {
            <li>
				<h2>@product.ProductName</h2>
				<p>Description: @product.ProductDescription</p>
				<p>Price: @product.Price</p>
			</li>
        }
    </ul>
}
else
{
    <p>No recommendations available.</p>
}
